body {
  background-color: #292F36;
}

#text-form {
  border-radius: 20px;
  background-color: #4ECDC4;
  margin-top: 10em;
  margin-right: 35%;
  margin-left: 35%;
  border: 2px solid red;
  text-align: center;
  padding: 3em;
}


#text-form input {
  margin-top: 1em;
  width: 120px;
  height: 40px;
  text-align: center;
  width: 85%;
}

#text-form h2 {
 color: #292F36;
 font-size: 300%;
 font-family: "HelveticaNeue-Light";
}

/*#submit-button {
  border-radius: 10px;
}*/

#number-field {
  background-color: #FFFFFF;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #939393;
}
