<div id="text-form">
  <h2>Text me trivia!</h2>
  <form action="/send_sms" method=POST>
    <input placeholder="Phone number" type="text" value="(858) 336-2522" name="to"><br>

    <input type="submit" value="Text me">
  </form>
</div>
