<div id="text-form-container">
  <h2>Trivitext</h2>
  <p id="enter-number">Enter your phone number</p>
  <form id="text-form" action="/send_sms" method=POST>
    <input autofocus id="number-field" placeholder="(123) 456-7890" type="tel" name="to"><br>
    <input id="submit-button" type="submit" value="Text me trivia">
  </form>
  <p id="good-luck">Good luck!</p>
  <a id="play-again" href="/">Play again</a><br>
  <a id="high-scores-link" href="/">High Scores</a>

<div id="high-scores">
  <%= erb :'users/_users_scores', locals: { users: @users } %>
</div>

</div>
