<div id="text-form">
  <h2>Text me trivia!</h2>
  <form action="/send_sms" method=POST>
    <input id="number-field" placeholder="(123) 456-7890" type="text" name="to"><br>

    <input id="submit-button" type="submit" value="Text me">
  </form>
</div>
